# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/nexiora?retryWrites=true&w=majority

# JWT Authentication
JWT_SECRET=replace_this_with_a_secure_long_secret_key_123456
JWT_EXPIRE=30d

# Email Service (Resend)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
FROM_EMAIL=onboarding@resend.dev
ADMIN_EMAIL=sanjaykanth.chandran@gmail.com

# Seeding Initial Admin Account
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_EMAIL=admin@nexiora.com
INITIAL_ADMIN_PASSWORD=adminPassword123
